[hidden] {
  display: none !important;
}
body {
  color: black;
  background: white;
}
details[open] {
  box-shadow: inset 0 0 4px #0003;
}
details>:not(summary) {
  padding-inline-start: 1vw;
}
summary {
  cursor: pointer;
  display: inline-block;
}
summary:hover,
details:has(summary:is(:hover,:focus-visible))>summary{
  background :#faf0e0;
}
details[open]:has(>:focus-visible) {
  box-shadow: inset 0 0 4px 2px #dd6;
}
details > summary:first-of-type::before {
  content: "+ ";
  line-height: 1;
}
details[open] > summary:first-of-type::before {
  content: "− ";
  line-height: 1;
}
var { font: unset; }
q::before, q::after { color: deeppink; font-family: cursive; }
q::before { content: "("; }
q::after { content: ")"; }
var.name { color: maroon; }
var.name::before { color: deeppink; font-family: cursive; content: "/"; }
var.ref { color: green; }
var.number { color: blue; }
var.boolean { color: orange; }
var.null { color: coral; }
var.name, var.ref {
  font-family: cursive;
}
summary {
  font-family: sans-serif;
}
pre {
  white-space: pre-wrap;
  word-break: break-all;
  overflow: auto;
  box-shadow: 0px 0px 2px inset black;
  max-height: 90vh;
  background: #eee;
  padding: 2px;
}
pre>span {
  background: #fff;
}
::before, ::after { font-family: cursive; color: #333; }
.dict:empty::after {
  content: "<<\2001>>";
}
.dict:not(:empty)>:first-child::before {
  content: "<<\2001";
}
.dict:not(:empty)>:last-child::after {
  content: "\2001>>";
}
.array:empty::after {
  content: "[\2001]";
}
.array:not(:empty)>:first-child::before {
  content: "[\2001";
}
.array:not(:empty)>:last-child::after {
  content: "\2001]";
}
ins {
  text-decoration: unset;
  user-select: none;
  font-family: sans-serif;
  color: #333;
}
@media (pointer: coarse) {
  body {
    line-height: 2.5;
  }
}
pre {
  line-height: normal;
}
#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
}
samp {
  color: orangered;
}
